<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Champeta v11</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <p class="headerP n1">Champeta</p><p class="headerP n2" >11</p>
    </header>
    <div class="juegoContainer">
        <a href="/juego"><button class="juegoH1">Jugar</button></a>
    </div>
</body>
</html>